{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ======= Hero Section ======= -->
    {% include 'portfolio/temp_sections/hero.html' %}
    <main id="main">
        <!-- ======= About Section ======= -->
        {% include 'portfolio/temp_sections/about.html' %}
        <!-- ======= Resume Section ======= -->
        {#        {% include 'portfolio/temp_sections/resume.html' %}#}
        <!-- ======= Projects Section ======= -->

        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Projects</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                    {% for list in projects %}
                        {% for project in list.project %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <div class="portfolio-wrap">
                                    <img src="images/{{ list.images }}" class="img-fluid" alt="">
                                    <div class="portfolio-links">
                                        <a href="images/{{ list.images }}"
                                           data-gallery="portfolioGallery"
                                           class="portfolio-lightbox" title="{{ project.project_name }}"><i
                                                class="bx bx-plus"></i></a>
                                        <a href="{% url 'portfolio:project-details' pk=project.pk %}"
                                           title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% endfor %}

                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">

                    {% for service in services %}
                        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                            <div class="icon">
                                <i class="bi bi-briefcase"></i>
                            </div>
                            <h4 class="title"><a
                                    href="{% url 'portfolio:service-details' pk=service.pk %}">{{ service.title_service }}</a>
                            </h4>
                            <p class="description">{{ service.description_service }}</p>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}


                            <div class="swiper-slide">
                                <div class="testimonial-item" data-aos="fade-up">
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        {{ testimonial.quote }}
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                    <img src="images/{{ testimonial.customer_image }}"
                                         class="testimonial-img"
                                         alt="">
                                    <h3>{{ testimonial.customer_name }}</h3>
                                    <h4>Country/{{ testimonial.country }}</h4>

                                </div>

                                  <div class="rating" data-default="{{ testimonial.review_ranks }}">
                                        <a>
                                            <div class="star1"></div>
                                        </a>
                                        <a>
                                            <div class="star2"></div>
                                        </a>
                                        <a>
                                            <div class="star3"></div>
                                        </a>
                                        <a>
                                            <div class="star4"></div>
                                        </a>
                                        <a>
                                            <div class="star5"></div>
                                        </a>
                                    </div>


                            </div><!-- End testimonial item -->


                        {% endfor %}


                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Palestine,Gaza ,PS 00790</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>harountaha@outlook.sa</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+970597918088</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                                    frameborder="0" style="border:0; width: 100%; height: 290px;"
                                    allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="{% url 'portfolio:contact' %}" method="post" class="php-email-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    {{ form.email }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name">Message</label>
                                {{ form.message }}
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock %}