{% load static %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Haroun Taha</h1>
            <!-- <p> I'm..<span class="typed" data-typed-items="Developer, Freelancer, Systems Engineer"></span></p> -->

            <p><span class="typed" data-typed-items="Python | Django | AWS 👨‍💻(🐱‍🏍◠‿◠)"></span></p>
        </div>
    </section><!-- End Hero -->
