{% load static %}

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">


                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Bachelor of Engineering</h4>
                            <h5>2017 - 2021</h5>
                            <p><em>Bannari Amman Institute of Technology, Sathyamangalam.</em></p>
                            <p>CGPA : 8.32 </p>
                        </div>
                        <div class="resume-item">
                            <h4>Higher Secondary Education</h4>
                            <h5>2015 - 2017</h5>
                            <p><em>Shree Gurukulam Higher Secondary School, Gobichettipalayam</em></p>
                            <p>Percentage : 80 %</p>
                        </div>
                        <div class="resume-item">
                            <h4>Secondary School Leaving Certificate</h4>
                            <h5>2014 - 2015</h5>
                            <p><em>Saru Matriculation Higher Secondary School, Sathyamangalam.</em></p>
                            <p>Percentage : 85 %</p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Systems Engineer</h4>
                            <h5>2021 - Present</h5>
                            <p><em>TATA CONSULTANCY SERVICES pvt ltd, Chennai.</em></p>
                            <ul>
                                <li> Digital Cadree.</li>
                                <li> Cognitive Bussniess Unit.</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Student Intern </h4>
                            <h5>MARCH 2021 - JUNE 2021</h5>
                            <p><em>TATA CONSULTANCY SERVICES pvt ltd, Chennai</em></p>
                            <ul>
                                <li>Service Delivery Optimization.</li>
                                <li>Worked in NFV, AWS, Python Development, Automation.</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>DevOps Engineer</h4>
                            <h5>OCT 2020 - JAN 2021</h5>
                            <p><em>E-Cloudaeon, Pune.</em></p>
                            <ul>
                                <li>Linux Administration</li>
                                <li>Worked in Azure,DevOps Tools.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->
